@font-face {
    font-family: 'ARS-Marquette-Bold';
    src: url('../fonts/ars-maquette-bold-alt-webfont.eot');
    src: url('../fonts/ars-maquette-bold-alt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ars-maquette-bold-alt-webfont.woff2') format('woff2'),
         url('../fonts/ars-maquette-bold-alt-webfont.woff') format('woff'),
         url('../fonts/ars-maquette-bold-alt-webfont.ttf') format('truetype'),
         url('../fonts/ars-maquette-bold-alt-webfont.svg#ars_maquette_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ARS-Marquette';
    src: url('../fonts/ars-maquette-regular-webfont.eot');
    src: url('../fonts/ars-maquette-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ars-maquette-regular-webfont.woff2') format('woff2'),
         url('../fonts/ars-maquette-regular-webfont.woff') format('woff'),
         url('../fonts/ars-maquette-regular-webfont.ttf') format('truetype'),
         url('../fonts/ars-maquette-regular-webfont.svg#ars_maquette_web_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avalon-bold';
    src: url('../fonts/avalon-bold-webfont.eot');
    src: url('../fonts/avalon-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avalon-bold-webfont.woff2') format('woff2'),
         url('../fonts/avalon-bold-webfont.woff') format('woff'),
         url('../fonts/avalon-bold-webfont.ttf') format('truetype'),
         url('../fonts/avalon-bold-webfont.svg#_.uploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shentox';
    src: url('../fonts/shentox-medium.eot');
    src: url('../fonts/shentox-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/shentox-medium.woff2') format('woff2'),
         url('../fonts/shentox-medium.woff') format('woff'),
         url('../fonts/shentox-medium.ttf') format('truetype'),
         url('../fonts/shentox-medium.svg#_.uploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ARS-Marquette', "Helvetica Neue", sans-serif;
}

nav {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  height: 80px;
  box-shadow: 0 0 32px rgba(0,0,0,.15);
}

.nav-logo {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  height: 80px;
  padding: 16px 20px;
  width: 106px;
}

.nav-logo img {
  display: block;
  height: 16px;
  position: relative;
  width: 66px;
  transition: transform 0.4s ease;
  will-change: transform;
  z-index: 999;
}

.nav-1 {
  display: flex;
  align-items: center;
  background: #131313;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  max-height: 32px;
  position: relative;
  z-index: 2;
}

.nav-1 li {
  display: block;
  height: 100%;
  margin-left: 12px;
}

.nav-1 li:first-of-type {
  margin-left: 20px;
}

.nav-1 li:last-of-type {
  margin-right: 20px;
}

.stretcher {
  flex-grow: 1;
}

.nav-1 li a {
  font-family: 'ARS-Marquette', "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.6);
}

.nav-1 li:first-of-type a {
  color: #ffffff;
}

.nav-1 li a:hover {
    color: #ffffff;
}

.navigation {
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #eee;
}

.navigation a {
    /* display: block; */
    font-family: 'Shentox', sans-serif;
    padding: 0 12px;
    font-weight: 100;
    color: #aaa;
    height: 48px;
    letter-spacing: .04em;
    line-height: 1;
    text-decoration: none;
}

.navigation li:hover a {
    color: #000000;
}

.magnyfing-glass,
.hamburger-icon {
    border-left: 1px solid #eee;
}

.magnyfing-glass a {
    display: block;
    height: 48px;
    opacity: .25;
    padding: 16px;
    width: 48px;
    will-change: opacity;
}

.magnyfing-glass a:hover {
    opacity: .5;
    color: #000000;
}

.magnyfing-glass-icon {
    display: block;
    background: transparent url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/icons-sprite.svg?1520429355783) no-repeat;
    background-size: 1296px 1296px;
    background-position: -848px -848px;
    width: 16px;
    height: 16px;
}

.hamburger-icon a {
  display: none;
  position: relative;
  height: 48px;
  padding: 16px;
  width: 48px;
}

.hamburger-icon span {
  position: absolute;
  width: 20px;
  height: 2px;
  margin-top: -1px;
  left: 14px;
  top: 50%;
  opacity: 1;
  background-color: #f42;
}

.hamburger-icon span:first-of-type {
  transform: translateY(-6px);
}

.hamburger-icon span:last-of-type {
  transform: translateY(6px);
}

/* Main Artcicle */

.articles-cover {
    display: flex;
    height: 60vh;
    padding: 4px;
}

.side-articles {
    display: flex;
    flex-flow: column;
    width: 33.333333%;
    height: 100%;
}

.main-article {
    position: relative;
    width: 66.666666%;
    height: 100%;
    padding: 4px;
    overflow: hidden;
}

.main-article .background {
    display: block;
    background: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/12/WhatsApp-hed-796x419.jpg);
    background-size: 100% 100%, cover;
    background-position: center, center;
    width: 100%;
    height: 100%;
}

.logo-main-article {
    position: absolute;
    right: 24px;
    top: 24px;
    left: 24px;
    color: white;
    background: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg) no-repeat;
    z-index: 2;
    max-height: 112px;
    height: 96px;
    max-width: 50%;
}

.cover-gradient {
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    background: transparent url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png) no-repeat;
    background-size: cover;
    mix-blend-mode: lighten;
    z-index: 1;
}

.cover-time {
    position: absolute;
    color: #fff;
    right: 24px;
    top: 16px;
    line-height: 21px;
    z-index: 2;
}

.main-article-text {
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  z-index: 2;
  padding: 24px 20px;
}

.article-text-color {
  text-decoration: none;
  color: #ffffff;
}

.main-article-text h2 {
  font-family: 'avalon-bold', sans-serif;
  font-size: 56px;
  margin-bottom: .25em;
}

.main-article-text h5 {
  text-transform: uppercase;
  font-family: 'Shentox', sans-serif;
  font-size: 14px;
}


.side-article-text h2 {
  font-family: 'avalon-bold', sans-serif;
  font-size: 28px;
  margin-bottom: .25em;
}

.side-article-text {
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  z-index: 2;
  padding: 24px 20px;
}

.side-article-text h5 {
  text-transform: uppercase;
  font-family: 'Shentox', sans-serif;
  font-size: 14px;
}

.list-text-color {
  text-decoration: none;
  color: hsla(0,0%,100%,.6);
  font-size: 13px;
  line-height: 16px;
}

.icons {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.6;
  margin-right: 4px;
  margin-left: 6px;
  background: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/icons-sprite.svg?1520429355783);
  background-size: 1296px 1296px;
}

.clock-icon {
  background-position: -160px -160px;
}

.share-icon {
  background-position: -912px -912px;
}

.list-layout {
  display: flex;
  align-items: center;
}

.list-layout li {
  display: flex;
  align-items: center;
}

.side-article {
    width: 100%;
    height: 50%;
    padding: 4px;
    position: relative;
}

.side-article1 .background{
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/03/YouTube-Dark-796x417.jpg);
    background-size: 100% 100%, cover;
    background-position: center;
}

.side-article2 .background{
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/02/bitcoinmining-796x532.jpg);
    background-size: 100% 100%, cover;
    background-position: center;
}

.latest-news {
  margin: 0 auto;
  max-width: 1192px;
  padding: 24px 20px 0 20px;
}

.latest-news h2 {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1;
  color: #f42;
}

.latest-news h2 a {
  font-family: 'Avalon',sans-serif;
  text-decoration: none;
  letter-spacing: -.015em;
  color: #f42;
}

.latest-news h2 a svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background-size: 16px 16px;
}

.latest-news-list {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: -8px;
}

.latest-news-list .article-image {
  display: block;
  height: 135px;
  margin-bottom: 8px;
  background-size: cover;
}

.latest-news-list li:nth-of-type(1) .article-image {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/header-image-honor-9x-budget-phones-516x270.png);
}

.latest-news-list li:nth-of-type(2) .article-image {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/Cavier-Jesus-Phone-516x270.jpg);
}

.latest-news-list li:nth-of-type(3) .article-image {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/03/YouTube-Dark-516x270.jpg);
}

.latest-news-list li:nth-of-type(4) .article-image {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/02/bitcoinmining-404x270.jpg);
}

.latest-news-list li:nth-of-type(5) .article-image {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/05/movie-pirate-cryptocurrency-bitcoin-paypal-ethereum-stripe-litecoin-478x270.jpg);
}

.latest-news-list li:nth-of-type(6) .article-image {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/bitcoin-netherlands-bill-payment-fraud-cryptocurrency-hard-fork-blockhain-scam-crypto-480x270.jpg);
}

.latest-news-list li:nth-of-type(7) .article-image {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/ssLpnno-540x270.jpg);
}

.latest-news-list li:nth-of-type(8) .article-image {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/header-image-star-wars-headphones-bose-516x270.png);
}

.latest-news-list .article-title {
  font-family: 'ARS-Marquette-Bold', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 1px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-decoration: none;
  color: #000;
}

.latest-news-list .article-title:hover {
  box-shadow: inset 0 -1px 0 rgba(255,68,34,.25);
    color: #f42;
}

.latest-news-list div {
  padding-top: 4px;
  font-size: 12px;
  line-height: 18px;
  color: #aaa;
}

.latest-news-list .article-author {
  text-decoration: none;
  color: #aaa;
}

.latest-news-list .article-author:after {
  content: "\B7";
  margin-left: 4px;
}

.latest-news-list .article-author:hover:after {
  color: #aaa;
}

.latest-news-list .article-author:hover {
  color: #555;
}

/* footer */

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
  background-color: #131313;
}

.footer-links-social {
  display: flex;
  margin-bottom: 26px;
}

.footer-links-social li {
  display: inline-block;
    margin: 0 3px;
}

.footer-links-social li a {
    background: #333;
    border-radius: 50%;
    display: block;
    height: 40px;
    padding: 12px;
    text-align: center;
    width: 40px;
}

.footer-links-social li a:hover {
  background: transparent;
    box-shadow: inset 0 0 0 2px #333;
}

.footer-links-social li a i {
    display: block;
    width: 16px;
    height: 16px;
    background: transparent url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/icons-sprite.svg?1520429355783) no-repeat;
    background-size: 1296px 1296px;
}

.footer-links-social li:nth-of-type(1) a i {
  background-position: -272px -272px;
}

.footer-links-social li:nth-of-type(2) a i {
  background-position: -1024px -1024px;
}

.footer-links-social li:nth-of-type(3) a i {
  background-position: -1280px -1280px;
}

.footer-links-social li:nth-of-type(4) a i {
  background-position: -416px -416px;
}

.footer-links-social li:nth-of-type(5) a i {
  background-position: -672px -672px;
}

.footer-links-social li:nth-of-type(6) a i {
  background-position: -816px -816px;
}

.footer-links-social li:nth-of-type(7) a i {
  background-position: -576px -576px;
}

.footer-links-menu li {
  font-family: 'Shentox', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    margin: 0 4px;
}

.footer-links-menu li a {
  color: #aaa;
  text-decoration: none;
}

.footer-links-menu li a:hover {
  color: #fff;
}

.footer-legal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  line-height: 19px;
  padding: 39px 0;
  color: #aaa;
  background: #000;
}

.footer-legal a {
  text-decoration: none;
}

.footer-legal-logo {
    display: inline-block;
    height: 9px;
    margin-right: 1px;
    /* vertical-align: baseline; */
}

.footer-legal b {
  font-size: 9px;
  color: #f42;
}

@media screen and (max-width: 1600px) {

  .articles-cover {
    height: 75vh;
    max-height: 560px;
  }

  .main-article-text, .side-article-text {
    padding: 20px 16px;
  }
}

@media screen and (max-width: 1280px) {

  .main-article-text, .side-article-text {
    padding: 14px 20px;
  }

}

@media screen and (max-width: 1024px) {
    .nav-1 {
      margin-left: 106px;
    }

    .navigation {
        margin-left: 106px;
    }

    .nav-logo {
      display: block;
    }

    .nav-logo img {
      -webkit-transform: translateY(16px);
      transform: translateY(16px);
    }

    .articles-cover {
        height: 60vh;
        max-height: 560px;
    }

    .cover-show {
        display: none;
    }

    .list-text-color {
      font-size: 12px;
    }
    .main-article-text h5, .side-article-text h5 {
      font-size: 14px;
    }

    .main-article-text h2 {
      font-size: 40px;
    }

    .side-article-text h2 {
      font-size: 20px;
    }

    .main-article-text, .side-article-text {
      padding: 16px 12px;
    }

}

  @media screen and (max-width: 880px) {
    .nav-1 .disappear {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    nav {
      height: 48px;
    }

    .nav-1 {
        display: none;
    }

    .nav-logo {
      display: block;
      height: 48px;
    }

    .nav-logo img {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    .navigation li:nth-child(-n + 5) {
      display: none;
    }

    .hamburger-icon a {
      display: block;
    }

    .articles-cover {
      flex-flow: column;
      min-height: 90vh;
      height: 90vh;
    }

    .main-article {
      width: 100%;
      min-height: 30vh;
      height: 30vh;
    }

    .side-articles {
      width: 100%;
    }

    .side-article {
      min-height: 30vh;
      height: 30vh;
    }


    .main-article-text h2 {
      font-size: 20px;
    }

    .latest-news-list li {
      flex-basis: 100%;
      height: 91px;
      padding: 8px 8px 8px 88px;
      position: relative;
    }

    .latest-news-list .article-image {
      width: 75px;
      height: 75px;
      top: 8px;
      left: 0;
      position: absolute;
      background-position: center;
    }

    .latest-news-list h4 {
      white-space: normal;
    }

    .footer-legal {
      flex-direction: column;
    }
  }



  @media screen and (min-width: 768px) {
    .navigation li:first-of-type a {
      padding-left: 20px;
    }

    .latest-news {
      margin-bottom: 3em;
    }

    .latest-news-list {
      margin: -10px;
    }

    .latest-news-list li {
      flex-basis: 33.33333%;
        max-width: 33.33333%;
        padding: 10px;
    }

    .footer-links {
      padding: 42px 0 28px;
    }

    .footer-links-social li {
        margin: 0 8px;
    }

    .footer-links-menu li {
      margin: 0 6px;
    }

    .footer-legal {
      padding: 39px 0;
    }
  }

  @media screen and (min-width: 1024px) {
    .latest-news {
      margin-bottom: 4em;
    }

    .latest-news-list {
      margin: -12px;
    }

    .latest-news-list li {
      flex-basis: 25%;
        max-width: 25%;
        padding: 12px;
    }

    .latest-news-list .article-title {
      font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .latest-news-list div {
      font-size: 13px;
        line-height: 20px;
    }
  }